h1 {
    text-align: center;
    margin: 20px 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h1{
    font-family: Helvetica, ;
}
p{text-align: center;}
body {
    background-color: lightblue;
}