h1 {
    text-align: center;
    margin: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h1{
    font-family: Helvetica, ;
}
p{text-align: center;}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.site-logo {
    height: 110px;
    width: auto;
    margin-right: 10px;
}


/* Customer Favourites */

.featured{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin:40px 0;
}

.card{
    width:250px;
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    border-radius:8px;
}

/* Customer Review*/

.reviews{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin:40px 0;
}

.review-card{
    width:280px;
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    transition:0.3s;
}

.review-card:hover{
    transform:translateY(-5px);
}
.box {
    background-color: grey;
    width: 600px;      /* Width of the box */
    height: 400px;     /* Height of the box */
    margin: 50px auto; /* Centers the box */
    padding: 20px;     /* Space inside the box */
    border-radius: 10px;
}

/* resources page */
.card2 {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

img {
    max-width: 100%;
    height: auto;
}









/*Homepage "shop now" button*/
.button-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-top: 30px;        /* Optional spacing */
}

/*Homepage"why shop with us" section*/
.benefits {
    width: fit-content;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px 40px;
    background-color: #e0e0e0;

    list-style: none;
    text-align: left;
}

.benefits li {
    margin: 10px 0;
    font-size: 18px;
}