h1 {
    text-align: center;
    margin: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h1{
    font-family: Helvetica, ;
}
p{text-align: center;}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.site-logo{
    width: 100px;
    height: auto;
}