.checkout-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.checkout-img {
    max-width: 100%;
    height: auto;
}

.checkout-grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;                             
  max-width: 600px;                      
  margin: 0 auto;                        
}

.checkout-form-group {
  display: flex;
  flex-direction: column;                
  align-items: center;                   
  justify-content: center;               
  text-align: center;                    
}

.checkout-form-group input {
  width: 80%;                            
}