.top-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    padding:20px 40px;
}

.logo{
    width:120px;
    height:60px;
    margin:-30px;
    object-fit: cover;
}