body {
    background-color:gray;
    margin: 0;
}
.logo{
    width:120px;
    height:auto;
}
.logo{
    width:120px;
    height:60px;
    margin:-30px;
    object-fit: cover;
}
.top-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    padding:20px 40px;
}

.container{
    width:80%;
    max-width:1100px;
    margin:auto;
    background:white;
    border-radius:20px;
    padding:40px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
    transform:translateY(10%);
}
.black-arrow {
    color:black;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
    left:30px;
    top:30px;
    position:fixed;
    
}
.top-bar h1{
    color:black;
    text-decoration:none;
    font-size:32px;
    font-weight:bold;
    position:absolute;
    transform:translateX(-50%);
    left:150px
}
.hero {
   font-size: 20px;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    line-height: 1.8;

}
.faqs-card {
    
}